
    @font-face {
        font-family: norse;
        src: url(./Norse-Bold.otf);
    }

    @font-face {
        font-family: good;
        src: url(./good\ times\ rg.otf);
    }

body {
  margin: 0;
  padding: 0;
  font-family: good;
}

main {
    display: flex; 
    height: 100vh;
}

#intro {
    padding: 20px; 
}

#call {
    margin: 40px 0;
}

.splash {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./photos/pathfinder.jpg);
    background-size: auto;
    color: white;
    width: 30vw;
    font-size: 2em;
}

.splash img{
    width: 150px;
}

.signup {
    width: 60vw;
    padding-left: 44px;
    margin-top: 44px;
}


#intro p{
  font-size: 1.6rem;
}


form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 75vh;
    gap: 22px;
    padding: 20px; 
}

.field {
    display: flex;
    flex-direction: column;
    padding: 5px;

}

button.btn {
    max-width: 150px;
    background-color: #d7ae8a;
    color: white;
}

button:hover,
button:focus {
    background: #624d37;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}


@media only screen and ( max-width: 600px){
    main {
        flex-direction: column; 
    }

    .splash {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
    }

    form {
        grid-template-columns: 1fr;
    }

    input {
        width: 70vw;
    }

    .signup {
        width: 100vw;
    }
   #intro{
    width: 80vw;
    font-size: 1.2rem;
   }

    #intro p{
        font-size: 1.2rem;
    }

  

  

   
}